.map-container {
  width: 90vw;
  height: 80vh;
  margin: 1rem auto;
}

.map-container-loader {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  margin: 1rem auto;
}

.markerToVisit {
  background-image: url("./iconToVisit.png");
  background-size: cover;
  width: 22px;
  height: 50px;
  /* border-radius: 50%; */
  cursor: pointer;
}
.markerVisited {
  background-image: url("./iconVisited.png");
  background-size: cover;
  width: 22px;
  height: 50px;
  /* border-radius: 50%; */
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
